@import "./variables";

// Animations
:root {
  --sw-animation-primary: #{$sw-animation-primary};
  --sw-animation-linear: #{$sw-animation-linear};
}

// Gradients
:root {
  --sw-gradient-primary: #{$sw-gradient-primary};
}

// Colors
:root {
  --sw-color-light: #{$sw-color-light};
}
