.sw-collapse {
  border: none;
  background-color: transparent;
  background-image: url("/src/styles/images/collapse.svg");
  background-repeat: no-repeat;
  padding: calc(var(--mdb-modal-header-padding-y)*0.5) calc(var(--mdb-modal-header-padding-x)*0.5);
  margin: calc(var(--mdb-modal-header-padding-y)*-0.5) calc(var(--mdb-modal-header-padding-x)*-0.5) calc(var(--mdb-modal-header-padding-y)*-0.5) auto;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  color: #000;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
}

.sw-collapse.sw-active {
  background-image: url("/src/styles/images/collapse-active.svg");
  transform: rotate(-180deg);
}
