@import "../tools/shadow";

.sw-editor {

  .cm-focused {
    outline: none !important;
  }

  .cm-tooltip:not(.cm-tooltip-autocomplete, .cm-completionInfo) {
    visibility: hidden !important;
  }

  .sw-tooltip {
    visibility: visible;
  }

  .cm-tooltip-autocomplete {
    @extend .sw-shadow-plus;
    border-radius: 0.5rem !important;
    border-color: rgba(255, 255, 255, 0) !important;
    background: #ffffff;
  }

  .cm-completionInfo-left {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
  }

  .cm-completionInfo-right {
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
  }

  .cm-completionInfo-right-narrow, .cm-completionInfo-left-narrow {
    border-radius: 0.5rem !important;
  }

  .cm-completionInfo {
    --mdb-alert-color: #5f646b;
    --mdb-alert-bg: #ecedf0;
    --mdb-alert-border-color: #e2e4e8;
    --mdb-alert-padding-x: 1.5rem;
    --mdb-alert-padding-y: 1.25rem;
    --mdb-alert-margin-bottom: 1rem;
    --mdb-alert-border: 1px solid var(--mdb-alert-border-color);
    --mdb-alert-border-radius: 0.5rem;
    position: relative;
    padding: 0.2rem !important;
    margin-bottom: 0 !important;
    top: 0 !important;
    color: var(--mdb-alert-color);
    background-color: var(--mdb-alert-bg);
    border-color: rgba(0, 0, 0, 0);
    @extend .sw-shadow-plus;
  }

  .cm-tooltip-autocomplete li[aria-selected="true"],
  .cm-tooltip-autocomplete li:hover,
  .cm-tooltip-autocomplete li:active,
  .cm-tooltip-autocomplete li:focus,
  .cm-tooltip-autocomplete li::selection {
    color: #494747 !important;
    background-color: #eeeeee !important;
  }

  .cm-tooltip-autocomplete > ul > li {
    border-radius: 0.5rem !important;
    border-color: rgba(255, 255, 255, 0) !important;
    background-color: #fff;
    padding: var(--mdb-dropdown-item-padding-y) var(--mdb-dropdown-item-padding-x);
  }

  .cm-tooltip-autocomplete > ul > li:hover {
    background-color: #eeeeee !important;
  }

  .cm-tooltip-autocomplete > ul {
    @extend .sw-scroll-dark;
  }

  .cm-foldPlaceholder {
    @extend .sw-shadow;
    @extend .sw-text-shadow;
    border: none !important;
    background-color: #ffffff !important;
  }

  .cm-foldPlaceholder:after {
    content: " ";
  }

  .cm-foldPlaceholder:before {
    content: " ";
  }

}
