.sw-scroll-dark::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.0625rem;
}
.sw-scroll-dark::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: #717171;
}
.sw-scroll-dark::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background: #ededed;
}
